.content p {
  font-family: serif;
  font-size: 1.35em;
}

.admonition {
  background: #29b6f6 !important;
  color: #fff;
}

.admonition pre {
  background: hsla(0, 0%, 100%, .3)
}

.admonition.warning-a {
  background: #e84e40 !important;
}

.admonition a, .admonition a:hover {
  color: #fff;
}

.admonition p {
  font-size: 1.5rem;
}

.admonition>:first-child {
  margin-top: 0
}

.admonition .admonition-title {
  font-size: 2rem;
}

.admonition .admonition-title:before {
  content: "\e611";
  display: block;
  float: left;
  font-family: Icon;
  vertical-align: -.1em;
  margin-right: 5px
}

.admonition.warning-a .admonition-title:before {
  content: "\e610";
}

.icon-note:before {
  content: "\e611";
}

.icon-warning:before {
  content: "\e610";
}
